@model CreateTestimonilDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post">
                        <div class="card-header">
                            <div class="card-title">Referans Bilgisi Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="testimonialsName">Ad Soyad Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="testimonialsName" asp-for="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="testimonialsTitle">Başlık Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="testimonialsTitle" asp-for="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="testimonialsComment">Yorum Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="testimonialsComment" asp-for="Comment">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="testimonialsImage">Görsel URL Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="testimonialsImage" asp-for="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="testimonialsStatus">Durum Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="testimonialsStatus" asp-for="Status">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Referans Bilgisini Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

