@model CreateContactDto

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Bilgisi Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactLocation">Lokasyon Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="contactLocation" asp-for="Location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactPhone">Telefon Numarası Giriniz</label>
                                <input type="text" class="form-control" id="contactPhone" asp-for="PhoneNumber">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactEmail">Mail Adresi Giriniz</label>
                                <input type="text" class="form-control" id="contactEmail" asp-for="Email">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactDescription">Açıklama Giriniz</label>
                                <input type="text" class="form-control" id="contactDescription" asp-for="FooterDescription">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İletişim Bilgisini Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

