@model UpdateContactDto

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post">
                        <input type="hidden" asp-for="ContactID"/>
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Bilgisi Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactLocation">Lokasyon Bilgisi Giriniz</label>
                                <input type="text" class="form-control" id="contactLocation" asp-for="Location">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactPhone">Telefon Numarası Giriniz</label>
                                <input type="text" class="form-control" id="contactPhone" asp-for="PhoneNumber">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactEmail">Mail Adresi Giriniz</label>
                                <input type="text" class="form-control" id="contactEmail" asp-for="Email">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactDescription">Açıklama Giriniz</label>
                                <input type="text" class="form-control" id="contactDescription" asp-for="FooterDescription">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactTitle">Başlık Giriniz</label>
                                <input type="text" class="form-control" id="contactTitle" asp-for="FooterTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenDays">Açık Gün Başlığı Giriniz</label>
                                <input type="text" class="form-control" id="contactOpenDays" asp-for="OpenDays">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenDaysDescription">Açık Gün Açıklaması Giriniz</label>
                                <input type="text" class="form-control" id="contactOpenDaysDescription" asp-for="OpenDaysDescription">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenDaysHour">Açık Saat Açıklaması Giriniz</label>
                                <input type="text" class="form-control" id="contactOpenDaysHour" asp-for="OpenHours">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İletişim Bilgisini Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

