@model CreateProductDto


@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post">
                        <div class="card-header">
                            <div class="card-title">Yeni Ürün Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productName">Ürün Adını Giriniz</label>
                                <input type="text" class="form-control" id="productName" asp-for="ProductName">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Fiyatını Giriniz</label>
                                <input type="text" class="form-control" id="price" asp-for="Price">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Ürün Görselini Giriniz</label>
                                <input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Ürün Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categoryDropDown, new {@class="form-control" })
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Ürün Açıklamasını Giriniz</label>
                                <input type="text" class="form-control" id="description" asp-for="Description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Ürünü Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

