@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post">
                        <input type="hidden" asp-for="CategoryID"/>
                        <div class="card-header">
                            <div class="card-title">Kategori Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryName">Kategori Adını Giriniz</label>
                                <input type="text" class="form-control" id="categoryName" asp-for="CategoryName">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Kategoriyi Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

